@import '~rsuite/lib/styles/themes/default/index.less';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;500;600&display=swap');


@text-color: @B900;
@primary-color: #00338D;
@primary-medium-color: #005EB8;


@base-color: @primary-medium-color;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
@font-family-base: 'IBM Plex Sans', sans-serif;
@font-family-icon: 'rsuite-icon-font';

@font-size-large: 16px;
@font-size-base: 14px;
@font-size-small: 12px;
@font-size-extra-small: 12px;

@font-size-h1: 22px;
@font-size-h2: 36px;
@font-size-h3: 28px;
@font-size-h4: 22px;
@font-size-h5: 18px;
@font-size-h6: 16px; // The same to font-size-base

@line-height-h1: 22px;
@line-height-h2: 36px;
@line-height-h3: 28px;
@line-height-h4: 22px;
@line-height-h5: 18px;
@line-height-h6: 16px;

// General
body {
    font-family: @font-family-base;
    background-color: #fff;
}

.mq--sub {
    color: @B700;
}

.mq--container-wrap {
    margin-bottom: 60px;
    min-height: 70vh;
}

.mq--footer {
    background-color: #3c3c3c;
    margin-bottom: 100px;

    .mq--footer--content {
        background-color: #333;
        color: @B400;
        max-width: 1310px;

        padding: 60px 80px;
        margin: auto;
    }

    .mq--main-content {
        padding-top: 8px;

        .mq--small {
            font-size: @font-size-small;
            margin-bottom: 15px;
        }
    }

    a {
        color: @B400;

        &:hover {
            color: @B000;
            text-decoration: none;
        }
    }
}

//== Navbar
@nav-bar-default-bg: @primary-color;
@nav-bar-default-font-color: @B000;

/*
// Subtle Button color set;
@btn-subtle-color: @H200;
@btn-subtle-hover-bg: @H800;
@btn-subtle-default-hover-color: @B050;
@btn-subtle-active-default-bg: @H100;
@btn-subtle-active-default-color: @B000;

//== Dropdown
@dropdown-bg: @primary-color;
@dropdown-link-color: @B000;
@dropdown-link-hover-color: @B000;
@dropdown-link-hover-bg: @btn-subtle-hover-bg;

//** Active dropdown menu item text color.
@dropdown-link-active-color: @H500;
//** Active dropdown menu item background color.
@dropdown-link-active-bg: fade(@H900, 20);
@dropdown-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2), 0 4px 4px 3px rgba(0, 0, 0, 0.24);
@dropdown-divider-bg: @divider-border-color;

//== Nav
@nav-item-font-default-color: @B700;
@nav-item-default-hover-bg: @btn-subtle-hover-bg;
@nav-item-click-bg: @btn-subtle-active-default-bg;
@nav-tab-waterline-color: @B600;
@nav-subtle-hover-bg: @B700;
@nav-subtle-waterline-default-color: @nav-tab-waterline-color;

//== Navbar
@nav-bar-default-bg: @primary-color;
@nav-bar-default-font-color: @B000;
@nav-bar-default-active-color: @H500;
@nav-bar-subtle-bg: transparent;
@nav-bar-subtle-font-color: @nav-bar-default-font-color;
@nav-bar-subtle-font-active-color: @nav-bar-default-active-color;
@nav-bar-subtle-hover-bg: #ff0000; // @H500;
@nav-bar-subtle-hover-font-color: @B050;
@nav-bar-inverse-bg: @H700;
@nav-bar-inverse-active-bg: @H400;

.rs-navbar .rs-divider {
    background-color: @nav-bar-default-font-color;
}
*/

//== Badged Button
.mq-badged-button .mq-label {
    color: @primary-color;
    font-size: 0.9em;
    margin-left: 5px;
}

//== Summary 
.mq--summaries {

    border: 1px solid @B300;
    margin: 20px 0;

    .mq--summaries--header {
        padding: 20px 10px;
        background-color: @H050;

        .rs-btn-default {
            background-color: @B000;
            border: 1px solid @B300;
        }
    
        .rs-btn-default.rs-btn-active {
            background-color: @B300;
            border: 1px solid @B300;
        }
    }

    .mq--summary--empty {
        font-size: 20px;
        margin: 10px;
        background-color: @B100;
        color: @B700;
        text-align: center;

        .rs-flex-box-grid {
            min-height: 200px;
        }
    }
}

.mq-summary {
    display: block;

    .rs-panel-body {
        padding-top: 0px;
    }
    
    .rs-panel-footer {
        padding: 20px;
        padding-top: 0px;
        font-size: 0.9em;
        color: @B800;
    }

    .mq--sub {
        color: @B700;
    }

    border-radius: 0;
    border-bottom: 1px solid @B300;
}

.mq-summary:last-child {
    border-bottom: none;
}

.mq-summary--type {
    color: @B800;
    font-size: .8em;
    padding-bottom: 0.5em;
}

a.mq-summary {
    color: @B900;
    text-decoration: none;
}

a.mq-summary:hover {
    background-color: @B050;
    text-decoration: none;
}

//== Page Title
.mq--page-title {
    background-color: @B050;

    .rs-btn-default {
        background-color: @B000;
        border: 1px solid @B300;
    }

    .rs-btn-default.rs-btn-active {
        background-color: @B300;
        border: 1px solid @B300;
    }

    .mq--buttons {
        text-align: right;
    }

    a {
        color: @B900;
    }
}



//== Navigation Tabs
.mq--nav-tabs.rs-nav-subtle.rs-nav-horizontal {
    margin-top: -20px;

    ul {
        margin: 10px;
    }

    div.rs-nav-waterline {
        border-top: 2px solid @B300;
    }
}

//== Content Header
.mq-content-header--subtitle {
    color: @B800;
    font-size: .8em;
    padding-bottom: 0.3em;
}

.mq-content-header > h3 {
    padding-bottom: .3em;
}

.mq-content-header {
    padding-bottom: .5em;
}

//== Main Content
.mq--main-content .mq--p-leading {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.mq--main-content .mq--p-badges {
    margin-bottom: 30px;
}


.mq--main-content p {
    font-size: 16px;
    margin-bottom: 10px;
}

.mq--main-content h4 {
    margin-bottom: 20px;;
}

//== Forms
.rs-form-group {
    margin-bottom: 2em;
}

.rs-control-label {
    font-weight: bold;
}

//== Editable Paragraph
.mq--editable-paragraph {
    .mq--editable-paragraph--edit {
        color: @B600;
        font-style: italic;
        font-size: .8em;

        a {
            color: @B600;
        }
    }
}

input.mq--editable-paragraph--input {
    margin-bottom: 30px;
}

//== Dataset Versions

.mq--dataset-versions .mq--p-leading,
.mq--dataset-version .mq--p-leading {
    margin-bottom: 10px;
}

.mq--dataset-versions {
    margin-left: 20px;
      
    .rs-timeline-item-custom-dot .rs-icon {
        position: absolute;
        background: #fff;
        top: 0;
        left: -2px;
        border: 2px solid #ddd;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 18px;
        padding-top: 9px;
        color: #999;
        margin-left: -13px;
    }
    
    .rs-timeline-item-content {
        margin-left: 24px;
    }

    .mq--dataset-version .rs-timeline-item-content:hover {
        color: @B900;
        cursor: pointer;
    }
}

//= Data Explorer

@validColor: rgb(0, 192, 144);
@mismatchedColor: #f28218;
@missingColor: rgb(218, 89, 87);

.mq--explorer--field {
    font-size: @font-size-large;

    .mq--explorer--field--name {
        font-weight: bold;

        .rs-icon {
            color: #333;
            border-radius: 50px;
            background-color: rgb(235, 235, 255);
            font-size: 18px;
            width: 40px;
            height: 40px;
            padding-top: 11px;
            text-align: center;
            margin-right: 10px;
        }
    }

    .mq--explorer--field--image {
        width: 100%;
    }

    .mq--explorer--field--correctness {
        width: 100%;
        height: 8px;
        margin-bottom: 18px;

        .valid, .mismatched, .missing {
            display: inline-block;
            height: 8px;
        }

        .valid {
            background-color: @validColor;
        }

        .mismatched {
            background-color: @mismatchedColor;
        }

        .missing {
            background-color: @missingColor;   
        }
    }

    span.legend {
        display: inline-block;
        height: 12px;
        width: 11px;
        margin-left: 4px;
        vertical-align: baseline;

        &.valid {
            background-color: @validColor;
        }

        &.mismatched {
            background-color: @mismatchedColor;
        }

        &.missing {
            background-color: @missingColor;
        }
    }

    div.number {
        text-align: right;
    }
}