@import '~rsuite/lib/styles/themes/default/index.less';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;500;600&display=swap');


@text-color: @B900;
@primary-color: #00338D;
@primary-medium-color: #005EB8;


@base-color: @primary-medium-color;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
@font-family-base: 'IBM Plex Sans', sans-serif;
@font-family-icon: 'rsuite-icon-font';

@font-size-large: 16px;
@font-size-base: 14px;
@font-size-small: 12px;
@font-size-extra-small: 12px;

@font-size-h1: 22px;
@font-size-h2: 36px;
@font-size-h3: 28px;
@font-size-h4: 22px;
@font-size-h5: 18px;
@font-size-h6: 16px; // The same to font-size-base

@line-height-h1: 22px;
@line-height-h2: 36px;
@line-height-h3: 28px;
@line-height-h4: 22px;
@line-height-h5: 18px;
@line-height-h6: 16px;

// General
body {
    font-family: @font-family-base;
    background-color: #fff;
}

.mq--sub {
    color: @B700;
}

.mq--error-message {
    background: #f44336;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 25px 35px 25px 25px;
    color: #fff;
    position: relative;

    .rs-btn-ghost {
        color: #fff;
        border: 1px solid #fff;
        background-color: transparent;

        position: absolute;
        right: 25px;
        top: 50%;
        margin-top: -15px;
    }
}

.mq--container-wrap {
    margin-bottom: 60px;
    min-height: 70vh;
}

.mq--page-background {
    min-height: 800px;
    background-size: auto 60vh;
    background-position: top right;
    margin-top: -10px;
    padding-top: 10px;

    background-color: #fff;
}

.mq--page-background.mq--dashboard {
    background-size: auto 500px;
    background-position: top center;
    margin-top: -150px;
}

.mq--footer {
    background-color: #3c3c3c;
    margin-bottom: 100px;

    .mq--footer--content {
        background-color: #333;
        color: @B400;
        max-width: 1310px;

        padding: 60px 80px;
        margin: auto;
    }

    .mq--main-content {
        padding-top: 8px;

        .mq--small {
            font-size: @font-size-small;
            margin-bottom: 15px;
        }
    }

    a {
        color: @B400;

        &:hover {
            color: @B000;
            text-decoration: none;
        }
    }
}

.mq--icon-cycle.rs-icon-size-2x {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 32px;
    text-align: center;
    line-height: 48px;
    margin-right: 20px;

    color: @B800; // @primary-medium-color;
    background: #ddd;
}

//== Loading
@keyframes placeHolderShimmer {
    0% {
        background-position: -30vw 0
    }
    
    100% {
        background-position: 70vw 0
    }
}

.mq--loading {
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #fff;
    background: linear-gradient(to right, #fff 8%, #00338D33 18%, #fff 33%);
    height: 70vh;
    width: 100%;
    position: relative;
    padding-top: 50px;
    margin-bottom: -60px;
}

//== Navbar
@nav-bar-default-bg: @primary-color;
@nav-bar-default-font-color: @B000;

/*
// Subtle Button color set;
@btn-subtle-color: @H200;
@btn-subtle-hover-bg: @H800;
@btn-subtle-default-hover-color: @B050;
@btn-subtle-active-default-bg: @H100;
@btn-subtle-active-default-color: @B000;

//== Dropdown
@dropdown-bg: @primary-color;
@dropdown-link-color: @B000;
@dropdown-link-hover-color: @B000;
@dropdown-link-hover-bg: @btn-subtle-hover-bg;

//** Active dropdown menu item text color.
@dropdown-link-active-color: @H500;
//** Active dropdown menu item background color.
@dropdown-link-active-bg: fade(@H900, 20);
@dropdown-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2), 0 4px 4px 3px rgba(0, 0, 0, 0.24);
@dropdown-divider-bg: @divider-border-color;

//== Nav
@nav-item-font-default-color: @B700;
@nav-item-default-hover-bg: @btn-subtle-hover-bg;
@nav-item-click-bg: @btn-subtle-active-default-bg;
@nav-tab-waterline-color: @B600;
@nav-subtle-hover-bg: @B700;
@nav-subtle-waterline-default-color: @nav-tab-waterline-color;

//== Navbar
@nav-bar-default-bg: @primary-color;
@nav-bar-default-font-color: @B000;
@nav-bar-default-active-color: @H500;
@nav-bar-subtle-bg: transparent;
@nav-bar-subtle-font-color: @nav-bar-default-font-color;
@nav-bar-subtle-font-active-color: @nav-bar-default-active-color;
@nav-bar-subtle-hover-bg: #ff0000; // @H500;
@nav-bar-subtle-hover-font-color: @B050;
@nav-bar-inverse-bg: @H700;
@nav-bar-inverse-active-bg: @H400;

.rs-navbar .rs-divider {
    background-color: @nav-bar-default-font-color;
}
*/

//== Badged Button
.mq-badged-button .mq-label {
    color: @primary-color;
    font-size: 0.9em;
    margin-left: 5px;
}

//== Summary 
.mq--summaries {

    border: 1px solid @B300;
    margin: 20px 0;

    .mq--summaries--header {
        padding: 20px 10px;
        background-color: @H050;

        .rs-btn-default {
            background-color: @B000;
            border: 1px solid @B300;
        }
    
        .rs-btn-default.rs-btn-active {
            background-color: @B300;
            border: 1px solid @B300;
        }
    }

    .mq--summary--empty {
        font-size: 20px;
        margin: 10px;
        background-color: @B100;
        color: @B700;
        text-align: center;

        .rs-flex-box-grid {
            min-height: 200px;
        }
    }
}

.mq-summary {
    display: block;

    .rs-panel-heading {
        font-weight: bold;
    }

    .rs-panel-body {
        padding-top: 0px;
    }
    
    .rs-panel-footer {
        padding: 20px;
        padding-top: 0px;
        font-size: 0.9em;
        color: @B800;
    }

    .mq--sub {
        color: @B700;
    }

    border-radius: 0;
    border-bottom: 1px solid @B300;
    background-color: #fff;
}

.mq-summary:last-child {
    border-bottom: none;
}

.mq-summary--type {
    color: @B800;
    font-size: .8em;
    padding-bottom: 0.5em;
    font-weight: normal;
}

a.mq-summary {
    color: @B900;
    text-decoration: none;
}

a.mq-summary:hover {
    background-color: @B050;
    text-decoration: none;
}

//== Page Title
.mq--page-title {
    background-color: @B050;

    .rs-btn-default {
        background-color: @B000;
        border: 1px solid @B300;
    }

    .rs-btn-default.rs-btn-active {
        background-color: @B300;
        border: 1px solid @B300;
    }

    .mq--buttons {
        text-align: right;
    }

    a {
        color: @B900;
    }

    .mq--p-leading {
        font-size: 20px;
        font-weight: 400;
        margin-top: 10px;
    }
}



//== Navigation Tabs
.rs-header {
    .rs-nav-default .rs-nav-item:not(.rs-nav-item-active):not(.rs-nav-item-disabled) > .rs-nav-item-content:hover, .rs-nav-default .rs-nav-item:not(.rs-nav-item-active):not(.rs-nav-item-disabled) > .rs-nav-item-content:focus,
    .rs-btn-subtle:focus, .rs-btn-subtle.rs-btn-focus, .rs-btn-subtle:hover {
        background: @primary-medium-color;
    }
}

.mq--nav-tabs.rs-nav-subtle.rs-nav-horizontal {
    margin-top: -20px;

    ul {
        margin: 10px;
    }

    div.rs-nav-waterline {
        border-top: 2px solid @B300;
    }
}

//== Content Header
.mq-content-header--subtitle {
    color: @B800;
    font-size: .8em;
    padding-bottom: 0.3em;
}

.mq-content-header > h3 {
    padding-bottom: .3em;
}

.mq-content-header {
    padding-bottom: .5em;
}

//== Main Content
.mq--main-content .mq--p-leading {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.mq--main-content .mq--p-badges {
    margin-bottom: 30px;
}


.mq--main-content p {
    font-size: 16px;
    margin-bottom: 10px;
}

.mq--main-content h4 {
    margin-bottom: 20px;;
}

.mq--main-content h5 {
    margin-bottom: 20px;
}

//== Forms
.rs-form-group {
    margin-bottom: 2em;
}

.rs-control-label {
    font-weight: bold;
}

//== Editable Paragraph
.mq--editable-paragraph {
    .mq--editable-paragraph--edit {
        color: @B600;
        font-style: italic;
        font-size: .8em;

        a {
            color: @B600;
        }
    }
}

input.mq--editable-paragraph--input {
    margin-bottom: 30px;
}

//== Dataset Versions

.mq--dataset-versions .mq--p-leading,
.mq--dataset-version .mq--p-leading {
    margin-bottom: 10px;
}

.mq--dataset-versions {
    margin-left: 20px;
      
    .rs-timeline-item-custom-dot .rs-icon {
        position: absolute;
        background: #fff;
        top: 0;
        left: -2px;
        border: 2px solid #ddd;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 18px;
        padding-top: 9px;
        color: #999;
        margin-left: -13px;
    }
    
    .rs-timeline-item-content {
        margin-left: 24px;
    }

    .mq--dataset-version .rs-timeline-item-content:hover {
        color: @B900;
        cursor: pointer;
    }
}

//== TimelineSelect

.mq--timeline-select .mq--p-leading,
.mq--timeline-select .mq--timeline-select--item .mq--p-leading {
    margin-bottom: 10px;
}

.mq--timeline-select {
    margin-left: 20px;
      
    .rs-timeline-item-custom-dot .rs-icon {
        position: absolute;
        background: #fff;
        top: 0;
        left: -2px;
        border: 2px solid #ddd;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 18px;
        padding-top: 9px;
        color: #999;
        margin-left: -13px;
    }
    
    .rs-timeline-item-content {
        margin-left: 24px;
    }

    .mq--timeline-select--item .rs-timeline-item-content:hover {
        color: @B900;
        cursor: pointer;
    }
}

//= Data Explorer

@validColor: rgb(0, 192, 144);
@mismatchedColor: #f28218;
@missingColor: rgb(218, 89, 87);

.mq--explorer--field {
    font-size: @font-size-large;

    .mq--explorer--field--name {
        font-weight: bold;

        .rs-icon {
            color: #333;
            border-radius: 50px;
            background-color: rgb(235, 235, 255);
            font-size: 18px;
            width: 40px;
            height: 40px;
            padding-top: 11px;
            text-align: center;
            margin-right: 10px;
        }
    }

    .mq--explorer--field--image {
        width: 100%;
        border: 1px solid #ccc;
        margin-bottom: 20px;
    }

    .mq--explorer--field--correctness {
        width: 100%;
        height: 8px;
        margin-bottom: 18px;
        line-height: 0;

        .valid, .mismatched, .missing {
            display: inline-block;
            height: 8px;
        }

        .valid {
            background-color: @validColor;
        }

        .mismatched {
            background-color: @mismatchedColor;
        }

        .missing {
            background-color: @missingColor;   
        }
    }

    span.legend {
        display: inline-block;
        height: 12px;
        width: 11px;
        margin-left: 4px;
        vertical-align: baseline;

        &.valid {
            background-color: @validColor;
        }

        &.mismatched {
            background-color: @mismatchedColor;
        }

        &.missing {
            background-color: @missingColor;
        }
    }

    div.number {
        text-align: right;
    }
}

//== File Explorer

.mq--file-explorer {
    border: 1px solid #ccc;
    overflow: hidden;

    font-size: 16px;

    .mq--file-explorer--header {
        padding: 10px;
        background-color: @B050;
        line-height: 40px;
    }

    a {
        color: @B900;
    }

    a:hover {
        color: @primary-color;
        text-decoration: underline;
    }
}

//== Model Summary

.mq--modern-summary {
    background-color: @B100;
    padding: 20px 20px;
    margin-bottom: 20px;

    .mq--modern-summary--title {
        display: block;
        font-weight: bold;
    }

    ul.mq--modern-summary--flavours {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0 5px 0 0;
            display: inline-block;
            font-size: smaller;
            color: @B700;

            &::after {
                margin: 0 0 0 5px;
                content: "|"
            }

            &:last-child::after {
                content: ""
            }
        }
    }
}

.mq--modern-summary.mq--modern-summary-ghost {
    border: 1px solid #ccc;
    background-color: #fff;
}

.mq--modern-summary-link {
    &:hover {
        background-color: @B200;
        cursor: pointer;
    }
}

.mq--metrics--trend {
    .mq--metrics--trend--value {
        font-size: xx-large;
        font-weight: bold;
        padding-right: 5px;
    }

    .mq--metrics--trend--label {
        display: block;
        font-weight: bold;
        font-size: small;
    }

    .mq--metrics--trend--diff {
        display: block;
        font-size: smaller;
        color: @B700;

        &.negative .mq--icon {
            color: #ff0000;
        }

        &.positive .mq--icon {
            color: #8aaa00;
        }

        .mq--icon.mq--icon--small .rs-icon {
            font-size: 11px;
            line-height: 14px;
        }
    }


}

.mq--metrics--text {
    .mq--metrics--text--label {
        display: block;
        font-size: smaller;
        color: @B700;
        line-height: 14px;

        .rs-icon {
            font-size: 10px;
        }
    }

    .mq--metrics--text--value {
        display: block;
        font-size: small;
        line-height: 14px;

        a {
            color: @text-color;
        }

        .rs-icon {
            font-size: 11px;
            line-height: 14px;
        }

        .negative {
            color: #ff0000;
        }

        .positive {
            color: #8aaa00;
        }
    }
}

//== Surveys

.sv_main  {
    font-family: @font-family-base;

    .sv_container {

        .sv_header {
            display: none;
        }

        .sv_body {
            padding: 0;
            border-top-color: @primary-color;
        }

        input[type="button"], button {
            background-color: @primary-color;
        }

        input:focus, 
        .sv_q_text_root:focus, 
        .sv_q_dropdown_control:focus,
        input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="image"]):not([type="checkbox"]):not([type="radio"]):focus,
        select:focus,
        textarea:focus {
            border-color: @primary-medium-color;
        }

        .sv_body.sv_completed_page > h3 {
            font-weight: normal;
        }
    }
}